* {
    margin: 0;
    font-family: Monospace;
}
body{
    background-color: #242424;
    color: #fff;
}

#nome{
    border: solid 1px blue;
    width: 40%;
    height: 24px;
    border-radius: 50px;
}

.jogos{
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    background-color: #121212;
    padding: 10px;
}

.index-jogos {
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.index-jogos::-webkit-scrollbar {
    display: none;
}

.biblioteca-jogos {
    flex-wrap: wrap;
}

.imagemJogo{
    width: 100%;
    height: 640px;
    object-fit: cover;
}

.imagemBiblioteca{
    width: 300px;
    height: 190px;
    object-fit: contain;
    display: block;
    margin: auto;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: orangered;
}

a h1{
    margin: 10px;
}

.jogo{
    background-color: #242424;
    border-radius: 30px;
    width: 350px;
    margin: 10px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5px;
}

.biblioteca {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.jogo-aleatorio{
    width: 60%;
    height: 40%;
    background-color: #121212;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.jogo-aleatorio img{

    width: 100%;
    height: 50vh;
    margin: 0;
}